.cards  {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: pointer;
}
.cards::-webkit-scrollbar{
    display: none;
}
.cardss:hover{
    box-shadow: 1px 1px 10px  ;

}
.icon{
    font-weight: bold;
    color: black;
}